body
{
    background-color: #ffffff;
}

.TopHyper
{
    display: inline;
}

h1
{

}

footer
{
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: darkgray;
    position: sticky;
}