body
{
    background-image: url("../images/herringbone.png");
    background-repeat: repeat;
    background-color: #ffffff;
    
}

footer
{
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: darkgray;
    position: sticky;
}

header
{
  background-color: #ffffff;
  border-color: #cccccc;
}

h1.topHeader
{
  background-color: #4aaaa5;
  width: 150px;
  padding: 3%;
  top: 0;
  float: left;
  color: #ffffff;
}

.mainContent
{
  background-color: #ffffff;
  border-color: #dddddd;
}

.column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  li.navHyper{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 2%;
    float: right;
  }
  
  h1.mainContent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
  }

